process {
    cpus = 4
    memory = 24.GB

    withLabel: 'process_single' {
        cpus = 1
        memory = 6.GB
    }
    withLabel: 'process_low' {
        cpus = 2
        memory = 8.GB
    }
    withLabel: 'process_medium' {
        cpus = 4
        memory = 24.GB
    }
    withLabel: 'process_high' {
        cpus = 4
        memory = 24.GB
    }
    withLabel: 'process_high_memory' {
        cpus = 4
        memory = 24.GB
    }
    withLabel: 'process_long' {
        cpus = 4
        memory = 24.GB
    }
}

google {
    batch {
        allowedLocations = ['zones/us-central1-b', 'zones/us-central1-c', 'zones/us-central1-f']
    }
}
