plugins {
    id 'nf-google'
}

profiles {

    local {
        docker.enabled = true
        process.executor = 'local'
        process.cpus = 4
        process.memory = '16.GB'
    }

    gcp {
        google.project = 'rnaseq-pipeline-493519'
        google.location = 'us-central1'
        google.batch.spot = false
        google.batch.serviceAccountEmail = 'nextflow-sa@rnaseq-pipeline-493519.iam.gserviceaccount.com'
        google.batch.machineType = 'e2-standard-4'
        workDir = 'gs://rnaseq-pipeline-493519-data/work'
        executor.queueSize = 2
        executor.pollInterval = '60 sec'
        executor.submitRateLimit = '1/1min'

        process {
            cpus = 2
            memory = '8.GB'
            disk = '80.GB'

            withLabel: 'process_low' {
                cpus = 2
                memory = '8.GB'
                disk = '80.GB'
            }
            withLabel: 'process_medium' {
                cpus = 4
                memory = '16.GB'
                disk = '80.GB'
            }
            withLabel: 'process_high' {
                cpus = 4
                memory = '32.GB'
                disk = '80.GB'
            }
            withLabel: 'process_high_memory' {
                cpus = 4
                memory = '32.GB'
                disk = '80.GB'
            }
        }
    }
}
